{% load humanize %}


<!-- карточка товара -->
<div class="card custom-card" style="width: 18rem;">
    {% include "goods/includes/toggle_favorite.html" with id=goods.id %}
    <a href="{{ goods.get_absolute_url }}">
        <img src="{{ goods.photo.url }}" height="250" class="card-img-top" alt="фото товара">
    </a>
    <div class="card-body bg-body-secondary">
        <!--цена, старая цена и скидка-->
        
            {% if goods.current_price == goods.old_price %}
                <p class="text-center mb-2">{{ goods.current_price|intcomma }} ₽</p>
            {% else %}
            <div class="d-flex justify-content-between align-items-center card-price mb-2">
                <p class="me-2 p-1 bg-warning bg-opacity-75 rounded">{{ goods.current_price|intcomma }} ₽</p>
                <p class="me-2"><s>{{ goods.old_price|intcomma }} ₽</s></p>
                <p class="text-danger">Скидка: {{ goods.discount }}%</p>
            </div>
            {% endif %}
        

        <div class="mb-2">
            <a href="{{ goods.get_absolute_url }}" class="text-decoration-none text-body">
                <h6 class="card-title">{{ goods.name|truncatechars:45 }}</h6>
            </a>
        </div>
        <p class="card-text mb-2">Артикул: {{ goods.article }}</p>

        <table>
            <tbody>
                <tr>
                    <td>{{ russian_names.width }}:</td>
                    <td class="ps-3">{{ goods.characteristic.width }}</td>
                </tr>
                <tr>
                    <td>{{ russian_names.height }}:</td>
                    <td class="ps-3">{{ goods.characteristic.height }}</td>
                </tr>
                <tr>
                    <td>{{ russian_names.depth }}:</td>
                    <td class="ps-3">{{ goods.characteristic.depth }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
