{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="d-flex">
        {% include "goods/includes/filtration_form.html" %}

        <div class="flex-grow-1 p-3">
            <h1 class="mb-4">{{ category.name }}</h1>
            {% include "goods/includes/category.html" with categories=subcategories %}

            <h2 class="mb-4">Товары</h2>
            <!-- Блок карточек товаров -->
            {% if goods_list %}
                <div class="row">
                    {% include 'includes/goods_list.html' %}
                </div>
            {% else %}
                <h2 class="text-center">Товары не найдены</h2>
            {% endif %}
        </div>
    </div>
</section>

{% include "includes/token.html" %}
<script src="{% static "js/favorites.js" %}"></script>
{% endblock %}