{% extends "base.html" %}


{% block head_title %}
    <title>{{ title }}</title>
{% endblock head_title %}


{% block content %}
<section>
<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center mb-4">{{ title }}</h1>
            {% include "includes/post_form.html" %}
            <div class="text-center"><a href="{% url "users:password_reset" %}">Забыли пароль?</a></div>
            <div class="text-center"><a href="{% url "users:registration" %}">Зарегистироваться</a></div>
        </div>
    </div>
</div>
</section>
{% endblock content %}